.data-visual {
    width: fit-content;
    margin: 3.125rem 0 2.625rem 1.5rem !important;
}

.form-select {
    width: fit-content !important;
    height: 36px;
    border: 1px solid #D0D0D0 !important;
    border-radius: 2px 0px 0px 2px !important;
}

.btn-filter-go {
    background: #0D28A6;
    border-radius: 0px 2px 2px 0px;
    height: 36px;
    align-items: center;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-bottom: 3rem;
}

.btn-filter-go p {
    margin-bottom: 0;
}

